# Social Registry Database
BRIDGE_BENE_PORTAL_API_DB_USERNAME='postgres'
BRIDGE_BENE_PORTAL_API_DB_PASSWORD='password'
BRIDGE_BENE_PORTAL_API_DB_HOSTNAME='localhost'
BRIDGE_BENE_PORTAL_API_DB_PORT='5432'
BRIDGE_BENE_PORTAL_API_DB_DBNAME='bridgedb'

