G2P_BRIDGE_CELERY_BEAT_DB_HOSTNAME=localhost
G2P_BRIDGE_CELERY_BEAT_DB_PORT=5432
G2P_BRIDGE_CELERY_BEAT_DB_DBNAME=openg2p_g2p_bridge_db
G2P_BRIDGE_CELERY_BEAT_DB_USERNAME=
G2P_BRIDGE_CELERY_BEAT_DB_PASSWORD=

G2P_BRIDGE_CELERY_BEAT_CELERY_BROKER_URL="redis://localhost:6379/0"
G2P_BRIDGE_CELERY_BEAT_CELERY_BACKEND_URL="redis://localhost:6379/0"
