G2P_BRIDGE_CELERY_BEAT_MAPPER_RESOLVE_API_URL="http://127.0.0.1:8003/sync/resolve"
G2P_BRIDGE_CELERY_BEAT_MAPPER_RESOLVE_RETRIES=3
G2P_BRIDGE_CELERY_BEAT_MAPPER_RESOLVE_RETRY_DELAY=5
G2P_BRIDGE_CELERY_BEAT_DB_DBNAME=openg2p_g2p_bridge_db
G2P_BRIDGE_CELERY_BEAT_MAPPER_RESOLVE_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_FUNDS_AVAILABLE_CHECK_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_FUNDS_BLOCKED_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_FUNDS_DISBURSEMENT_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_STATEMENT_PROCESS_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_MAPPER_RESOLVE_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_FUNDS_AVAILABLE_CHECK_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_FUNDS_BLOCKED_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_FUNDS_DISBURSEMENT_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_MT940_PROCESSOR_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_CELERY_BROKER_URL="redis://localhost:6379/0"
G2P_BRIDGE_CELERY_BEAT_CELERY_BACKEND_URL="redis://localhost:6379/0"
